/* section{
    display: flex;
    justify-content: space-around
}

div{
    width: 200px;
    height: 200px;
}

.cuadrado1{
    background-color: rgb(239, 38, 38);
}
.cuadrado2{
    background-color: rgb(27, 255, 1);
}
.cuadrado3{
    background-color: rgb(105, 1, 250);
} */

/* EJERCICIO 2 */

/* div{
    display: flex;
    justify-content: center;
    align-items: baseline
}

textarea{
    resize: none;
}

p{
    margin-left: 1rem;
} */

